[run]
source="./*.py"
omit =
    */settings.py
    */wsgi.py
    */urls.py
    */migrations/*
    *tests*
    *__init__*
[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
[html]
directory = coverage_html_report
